<div class="row">
  <h1><%= title %></h1>
  <span>Output generated: <%= Time.now %></span>
</div>

<div class="row">
<table class="table table-bordered">
  <tr>
    <th>Unique Users</th>
    <th>Time period</th>
    <th>Command</th>
  </tr>
  <% @reports.each do |r| %>
    <tr>
      <td><%= r.count %></td>
      <td><%= r.range %></td>
      <td><%= r.cmd %></td>
    </tr>
  <% end %>
</table>
</div>
